/* File di stile per navbar */

.navbar {
    background-color: #777777;
    min-height: 54px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-links-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    transition: max-height 1s ease-out;
    overflow: hidden;
    max-height: 0;
}

/* Proprietà valida soltanto per gli elementi <a> all'interno della classe "navbar-links" */
.navbar-links a {
    padding-right: 1rem;
    text-decoration: none;
    transition: color 0.5s ease; /* Durata transizione cambio colore */
}

.navbar-links a:hover {
    color: #DBFF00; /
}

/* Nasconde la checkbox "trick" per il trick della navbar */
#navbar-hamburger-checkbox {
    display: none;
}

/* Mostra l'icona hamburger che gestisce il menu in versione mobile */
.navbar-hamburger-column {
    display: block;
    text-align: right;
}

.navbar-hamburger {
    font-size: 1.5em;
    color: #FFFFFF; 
    cursor: pointer;
}

/* Icona di chiusura navbar */
.navbar .fa-xmark {
    display: none;
}

/* Queste 3 classi valgono solo se la checkbox è nello stato di "checked" */
/* Setta l'altezza massima della navbar in versione mobile quando viene espansa */
#navbar-hamburger-checkbox:checked + .navbar-hamburger-column + .navbar-links-column {
    max-height: 128px;
}

/* Nasconde l'icona di hamburger menu quando la navbar è espansa */
#navbar-hamburger-checkbox:checked + .navbar-hamburger-column .fa-bars {
    display: none;
}

/* Viene mostrata l'icona per ridurre la navbar dopo che è stata espansa */
#navbar-hamburger-checkbox:checked + .navbar-hamburger-column .fa-xmark {
    display: block;
}

/* Media query per navbar per risoluzione diverse da mobile */
@media (min-width: 768px) {
    .navbar-links {
        text-align: end;
    }

    .navbar-links-column {
        display: flex;
        flex-direction: row;
        flex-basis: auto;
        max-height: none;
    }

    .navbar-hamburger-column {
        display: none;
    }
}

