/* Classi generiche e di utilità */

* {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #FFF;
  margin: auto;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 36px;
  text-align: center
}

p {
  margin: auto;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 24px;
}

li {
  line-height: 1.5;
}

h3 {
  margin-bottom: 10px;
}

.height-min-100vh {
  min-height: 100vh;
}

/* Padding */
.padding-10 {
  padding: 1.0rem;
}

.padding-15 {
  padding: 1.5rem;
}

.padding-top-15 {
  padding-top: 1.5rem;
}

.padding-left-1-0 {
  padding-left: 1rem;
}

.padding-right-1-0 {
  padding-right: 1rem;
}

.padding-bottom-3-0 {
  padding-bottom: 3.0rem;
}

/* Margin */
.margin-top-2-0 {
  margin-top: 2.0rem
}

.margin-top-3-0 {
  margin-top: 3.0rem
}

.margin-bottom-1-0 {
  margin-bottom: 1.0rem
}

.margin-bottom-2-0 {
  margin-bottom: 2.0rem
}

.margin-bottom-3-0 {
  margin-bottom: 3.0rem
}


.portfolio-cover {
  min-height: 100vh;
  color: #FFFFFF;
  font-size: 9rem;
  text-align: center;
  line-height: 0.1;
  align-content: center;
}


.card {
  border: 2px solid #FFFFFF;
  border-radius: 36px;
  padding: 0.5rem;
  text-align: center;
}

.card img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card .no-aspect-ratio {
  aspect-ratio: 0 !important;
  object-fit: contain !important;
}

.custom-button {
  min-width: 32px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  padding: 15px 30px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  text-align: center;
  text-decoration: none; 
  box-shadow: 0px 3px 4px #DBFF00;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.custom-button:hover {
  background-color: #DBFF00;
  box-shadow: 0px 3px 4px #FFFFFF;
}