/* Classi di supporto per la dimensione del testo */

.text-info {
    font-size: 1.2rem;
}
  
.text-normal {
    font-size: 1.5rem;
}

.text-large {
    font-size: 1.8rem;
}

.text-title {
    font-size: 2rem;
}

.text-small {
    font-size: 1rem;
}

.text-align-end {
    text-align: end;
}

.text-align-center {
    text-align: center;
}